header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: #2D333B;
}

h1 {
    color: white;
    font-size: 3rem;
    font-family: 'Inter, Roboto, Arial';
}