.itemList {
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.itemList strong {
    color: #539BF5;
    font-size: 2rem;
}

.itemList p {
    color: #999999;
    font-size: 1.5rem;
    margin: 10px 0;
    overflow-wrap: break-word;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    .itemList {
        font-size: 1.2rem;
    }

    .itemList strong {
        font-size: 1.8rem;
    }
}

@media (max-width: 480px) {
    .itemList {
        padding: 0.5rem;
    }

    .itemList strong {
        font-size: 1.5rem;
    }

    .itemList p {
        font-size: 1rem;
    }
}
